/*Importing Poppins,Monsterrat,Arvo,GreatVibes,Lobster,Pacifio from google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Montserrat&family=Arvo&family=Great+Vibes&family=Lobster&family=Pacifico&display=swap');

/* Apply fonts to elements */
body {
    font-family: 'Poppins', sans-serif;
    background-color: black;
    color: white !important;
}

.navbar-brand,
.nav-link {
    color: white !important;
    color: #FBF8DD !important;
}

.nav-link {
    font-size: 1.1rem;
}

.nav-link:hover {
    color: #ff0000 !important;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-brand img {
    height: 50px;
}

.carousel-item img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.red-gradient-text {
    font-weight: bold;
    background: linear-gradient(45deg, #ff4b2b, #ff416c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.red-white-gradient-text {
    background: linear-gradient(45deg, #ff0000, #da7f7f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.net {
    color: darkred !important;
}

.btn-outline-danger:hover {
    color: whitesmoke !important;
}

.car-con {

}
.car-con,.carousel{
    width:60vw;
}

.carousel-item img {
    border-radius: 2rem !important;
    background-position: center !important;
    object-fit: cover !important;
    height: 100%;
    width: 100%;
    width:60vw;
    height:30vw;
}

/* Change border color to red on input hover */
.form-control:focus {
    border-color: red;
    box-shadow: 0 0 0 0.25rem rgba(255, 0, 0, 0.25);
    border: none;
    box-shadow: none;
}

input {
    border: none !important;
    outline: none !important;
}

.footer {
    position: static !important;
    bottom: 0 !important;
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.card {
    height: 80vh !important;
    background-color: #242424;
}

.card h5 {
    color: rgb(175, 19, 19);
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.card img {
    width: 100%;
    height: 70%;
    object-fit: cover;
}

.btns button {
    font-weight: bold;
}

.btns button i {
    font-size: 1.4rem;
    vertical-align: top;
}

/* Add box-shadow on hover for card */
.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card{
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}
.card:hover {
    box-shadow: 0 20px 40px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
    /* transform: scale(1.05); */
}